{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<section class="hero">
    <h1>Hello!</h1>
    <p>Welcome to my website built with Flask.</p>
</section>

<section class="about-preview">
    <h2>About Me</h2>
    <p>I’m learning Flask step by step and building a real project from scratch.</p>
    <a href="/about">Read more -></a>
</section>

<section class="languages">
    <h2>Favorite Programming Languages</h2>

    {% for lang in languages %}
        <div class="language-card">
            <h3>{{ lang.name }}</h3>
            <p>{{ lang.description }}</p>
            <p><strong>Experience:</strong> {{ lang.experience }}</p>
            <a href="{{ lang.link }}">Learn more →</a>
        </div>
    {% endfor %}
</section>



{% endblock %}